# Ignore dev envirment
.vscode

# Ignore access data file
/etc/constants.php

# Ignore composer files folder
/vendor/
composer.lock

# Ignore local data files
/data/tracker_gpsdata.json
/data/tracker_metadata.json
/data/tracker_pointdata.json

## Ignore local favicons
www/android-chrome-96x96.png
www/apple-touch-icon.png
www/browserconfig.xml
www/favicon.ico
www/favicon-16x16.png
www/favicon-32x32.png
www/mstile-150x150.png
www/safari-pinned-tab.svg
www/site.webmanifest

