.map-height {
    height: 99%;
}
.map-height-analyse {
    height: 95%;
}
.markerDivIcon {
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 20px; /* Vertically center the text (icon) */
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.black {
    color: black;
}
.map-picker {
    height: 300px;
    cursor: crosshair;
}
.map-readonly {
    height: 300px;
}
.inline-block {
    display: inline-block;
}
.hidden {
    display: none;
}
